@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.Link {
    text-decoration: none;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 255) rgba(196, 196, 196, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #cecece;
}

*::-webkit-scrollbar-thumb {
    background-color: #2681c6;
    border-radius: 20px;
}
